<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sitecore.experienceeditor.speak.requests>
      <request patch:instead="*[@name='ExperienceEditor.Save.CallServerSavePipeline']" type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.SaveItem.CallServerSavePipeline, Sitecore.Support.107453" name="ExperienceEditor.Save.CallServerSavePipeline" />
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>